#outer {
    height: 100vw;
    width: 100vw;
    font-family: 'Trirong', serif;
    color: mintcream;
}

#main {
    height: 100vw;
    width: 100vw;
    background: radial-gradient(black, grey, white);
    position: absolute;
    opacity: 0.6
}

#clockContainer {
    position: relative;
    top: 50%;
    width: 70%;
    margin: 0 auto;
}

#time {
    text-align: center;
    font-size: 5em;
}

#clockContainer:hover #HEX {
    visibility: visible;
}

#clockContainer:hover #time {
    visibility: hidden;
}

#HEX {
    position: relative;
    text-align: center;
    top: 50%;
    margin: 0 auto;
    visibility: hidden;
    font-size: 5em;
    margin-top: -15%;
}

#line {
    position: relative;
    margin: 0 auto;
    top: 51%;
    background: mintcream;
    height: 6px;
    transition: all 1s linear;
}
